player-connection-mode=Listen
player-connection-guid=2800210857
player-connection-debug=1
player-connection-project-name=Borad
player-connection-ip=211.196.226.51
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=61baa77ee3a3481aac149d7ace07ed97
