player-connection-mode=Connect
player-connection-guid=583637868
player-connection-debug=1
player-connection-project-name=Borad
player-connection-wait-timeout=-1
player-connection-ip=211.196.226.51
profiler-enable=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d67b5b1afef241a99824762a742999bb
